{% extends 'base.html' %}

{% block content %}
<h2>NetScan</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Scan">
</form>

<table>
    <thead>
        <tr>
            <th>IP Address</th>
            <th>MAC Address</th>
            <th>Vendor</th>
        </tr>
    </thead>
    <tbody>
        {% for device in devices %}
        <tr>
            <td>{{ device.ip }}</td>
            <td>{{ device.mac }}</td>
            <td>{{ device.vendor }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}